VBox, HBox {
    -fx-background-color: #DFF2EB;
    -fx-alignment: center;
    -fx-spacing: 20px;
}
.button{
    -fx-font-size: 12px;
    -fx-background-color: #7AB2D3;
    -fx-pref-height: 40px;
    -fx-pref-width: 180px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.label{
    -fx-font-size: 12px;
}
.button:hover, .button:focused{
    -fx-background-color: #4A628A;
    -fx-text-fill: white;

}
.soldfield{
    -fx-background-color: #DFF2EB;
    -fx-border-color: none;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.findcustomerfield{
    -fx-background-color: #DFF2EB;
    -fx-pref-width: 177px;
    -fx-border-color: #7AB2D3;
    -fx-alignment: CENTER-LEFT;
    -fx-border-radius: 10px;

}

.findcustomerlabel{
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-alignment: CENTER_RIGHT;

}

.Hboxfindcustomer{
    -fx-spacing: 0;
}